.Rproj.user/
.Rhistory
.RData
.Ruserdata
README.html
_main.rds

/.quarto/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
